<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/"
  data-template="vertical-menu-template-free">

@include('partials/head')

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      @include('partials/aside')
      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->
        @include('partials/header')
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
          <div class="container mt-2">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">ACTUALIZAR</h5>
                <img src="/template/img/item/item.png" id="imageTemplate" hidden />

                <form id="updateForm" action="/item/udpate/{{item.id}}" method="POST" class="row g-3 mt-1">
                  <div class="col-md-6">
                    <a class="example-image-link" href="{{ item.image }}" data-lightbox="roadtrip">
                      <img src="{{item.image}}" class="d-block rounded border" height="120" id="itemImage"
                        data-lightbox="roadtrip" onerror="imageError(event)" />
                    </a>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <label for="image" class="form-label">URL Imagen</label>
                      <div class="input-group">
                        <button class="btn btn-primary" type="button" onclick="openUrlImage()"><i
                            class="fa-solid fa-eye"></i></button>

                        <button class="btn btn-primary" type="button" onclick="clearUrlImage()">
                          <i class="fa-solid fa-trash"></i></button>

                        <input type="text" class="form-control" id="image" name="image" onchange="updateImage()"
                          value="{{item.image}}" />

                      </div>
                    </div>
                    <div class="row mt-2">
                      <label for="resource" class="form-label">URL Recursos</label>
                      <div class="input-group">

                        <button class="btn btn-primary" type="button" onclick="openUrlResource()"><i
                            class="fa-solid fa-eye"></i></button>

                        <button class="btn btn-primary" type="button" onclick="clearUrlResource()"><i
                            class="fa-solid fa-trash"></i></button>

                        <input type="text" class="form-control" id="resource" name="resource"
                          value="{{item.resource}}" />

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label for="reference" class="form-label">Referencia</label>
                    <input class="form-control" type="text" name="reference" id="reference" value="{{item.reference}}"
                      required />
                  </div>
                  <div class="col-md-6">
                    <label for="tag" class="form-label">Tag</label>
                    <div class="input-group">
                      <input class="form-control" type="text" id="tag" name="tag" style="text-transform:uppercase"
                        required value="{{item.tag}}" />
                      <button class="btn btn-primary" type="button" id="button-addon2"
                        onclick="genId()">Generar</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label for="category" class="form-label">Categoría</label>
                    <div class="input-group">
                      <button class="btn btn-primary" type="button" id="button-addon2"><i
                          class="fa-solid fa-list"></i></button>
                      <select id="category_id" name="category_id" class="form-select">
                        <option value="0">NA</option>
                        @each(category in categories)
                        @if(category.id==item.category_id)
                        <option value="{{category.id}}" selected>{{category.name}}</option>
                        @else
                        <option value="{{category.id}}">{{category.name}}</option>
                        @end
                        @end
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <label for="quantity" class="form-label">Cantidad</label>
                    <input type="number" class="form-control" id="quantity" name="quantity" min="0"
                      value="{{item.quantity}}" required />
                  </div>

                  <div class="col-md-4" hidden>
                    <label for="available" class="form-label">Disponible</label>
                    <input type="number" class="form-control" id="available" name="available" min="0"
                      value="{{item.quantity}}" />
                  </div>

                  <div class="col-md-2">
                    <label for="location" class="form-label">Ubicación</label>
                    <input type="text" class="form-control" id="location" name="location"
                      style="text-transform:uppercase" value="{{item.location}}" />
                  </div>
                  <div class="col-md-4">
                    <label for="location" class="form-label">Estado</label>
                    <select class="form-select" aria-label="Default select example" id="status" name="status">
                      @if(item.status=="Disponible")
                      <option value="Disponible" selected>Disponible</option>
                      <option value="Mantenimiento">Mantenimiento</option>
                      @else
                      <option value="Disponible">Disponible</option>
                      <option value="Mantenimiento" selected>Mantenimiento</option>
                      @end
                    </select>
                  </div>

                  <div class="col-md-4" hidden>
                    <input type="text" class="form-control" id="admission" name="admission"
                      style="text-transform: uppercase" />
                  </div>

                  <div class="col-12 mt-4">
                    <button class="btn btn-danger" type="button" data-bs-toggle="modal"
                      onclick="updateItem()">Guardar</button>
                    <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
                  </div>

                  {{-- <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
                  </div> --}}
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        @include('partials/footer')
      </div>
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>

  @include('partials/scripts')

  <!-- ScriptPage -->
  <script src="/pages/item.js"></script>
</body>

</html>