<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/"
    data-template="vertical-menu-template-free">

@include('partials/head')

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            @include('partials/aside')
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @include('partials/header')
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container mt-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">NUEVO ELEMENTO</h5>
                                <img src="/template/img/item/item.png" id="imageTemplate" hidden />
                                <form action="/item/store" method="POST" class="row g-3">
                                    <div class="col-md-6">
                                        <img src="/template/img/item/item.png" class="d-block rounded border"
                                            height="120" id="itemImage" data-lightbox="roadtrip"
                                            onerror="imageError(event)" />
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label for="image" class="form-label">URL Imagen</label>
                                            <div class="input-group">
                                                <button class="btn btn-primary" type="button"
                                                    onclick="openUrlImage()"><i class="fa-solid fa-eye"></i></button>
                                                <button class="btn btn-primary" type="button"
                                                    onclick="clearUrlImage()"><i class="fa-solid fa-trash"></i></button>
                                                <input type="text" class="form-control" id="image" name="image"
                                                    onchange="updateImage()" />
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <label for="resource" class="form-label">URL Recursos</label>
                                            <div class="input-group">

                                                <button class="btn btn-primary" type="button"
                                                    onclick="openUrlResource()"><i class="fa-solid fa-eye"></i></button>

                                                <button class="btn btn-primary" type="button"
                                                    onclick="clearUrlResource()"><i class="fa-solid fa-trash"></i>
                                                </button>

                                                <input type="text" class="form-control" id="resource" name="resource" />


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="reference" class="form-label">Referencia</label>
                                        <input class="form-control" type="text" name="reference" id="reference"
                                            required />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="tag" class="form-label">Tag</label>
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="tag" name="tag" autofocus
                                                style="text-transform: uppercase" />
                                            <button class="btn btn-primary" type="button" id="button-addon2"
                                                onclick="genId()">
                                                <i class="fa-solid fa-tag"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="category" class="form-label">Categoría</label>
                                        <div class="input-group">
                                            <a class="btn btn-primary" href="/category/list" role="button"><i
                                                    class="fa-solid fa-list"></i></a>
                                            <select id="category_id" name="category_id" class="form-select" required>
                                                <option value="0">NA</option>
                                                @each(category in categories)
                                                <option value="{{category.id}}">{{category.name}}</option>
                                                @end
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <label for="quantity" class="form-label">Cantidad</label>
                                        <input type="number" class="form-control" id="quantity" name="quantity" min="0"
                                            required />
                                    </div>

                                    <div class="col-md-4" hidden>
                                        <label for="available" class="form-label">Disponible</label>
                                        <input type="number" class="form-control" id="available" name="available"
                                            min="0" />
                                    </div>

                                    <div class="col-md-4">
                                        <label for="location" class="form-label">Ubicación</label>
                                        <input type="text" class="form-control" id="location" name="location"
                                            style="text-transform: uppercase" />
                                    </div>


                                    <div class="col-md-4" hidden>
                                        <input type="text" class="form-control" id="status" name="status"
                                            value="Disponible" style="text-transform: uppercase" />
                                    </div>

                                    <div class="col-md-4" hidden>
                                        <input type="text" class="form-control" id="admission" name="admission"
                                            value="" />
                                    </div>


                                    <div class="col-12 mt-4">
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer -->
                @include('partials/footer')
            </div>
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>

    @include('partials/scripts')

    <!-- ScriptPage -->
    <script src="/pages/item.js"></script>
</body>

</html>