<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/"
    data-template="vertical-menu-template-free">

@include('partials/head')

<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">

        <div class="layout-container">
            <!-- Menu -->
            @include('partials/aside')
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                @include('partials/header')
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        {{-- <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic
                            Tables
                        </h4> --}}
                        <div class="d-flex flex-row-reverse mb-2">
                            <a href="item/create/" class="btn btn-primary" aria-current="page">Nuevo</a>
                        </div>

                        <!-- Basic Bootstrap Table -->
                        <div class="card">
                            <h5 class="card-header">Items</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Referencia</th>
                                            <th>Cantidad</th>
                                            <th>Ubicación</th>
                                            <th>Estado</th>
                                            <th>image</th>
                                            <th>Acciones</th>
                                            <th>Agregar</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">

                                        @each(item in items)

                                        <tr>
                                            <td>{{ item.reference }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.location }}</td>
                                            <td>{{ item.maintenance }}</td>
                                            <td> <a class="example-image-link" href="{{ item.image }}"
                                                    data-lightbox="roadtrip"><img class="rounded float-start"
                                                        height="50px" src="{{ item.image }}" alt="roadtrip" /></a>
                                            </td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <a href="item/edit/{{item.id}}"
                                                        class="btn btn-outline-primary btn-sm" aria-current="page"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        data-bs-title="Editar"><i class="fa-solid fa-file-pen"></i></a>
                                                    <a href="item/detail/{{item.id}}"
                                                        class="btn btn-outline-primary btn-sm" aria-current="page"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        data-bs-title="Detalles"><i
                                                            class="fa-solid fa-circle-info"></i></a>
                                                    <a href="item/delete/{{item.id}}"
                                                        class="btn btn-outline-primary btn-sm" aria-current="page"
                                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                                        data-bs-title="Eliminar"><i class="fa-solid fa-trash"></i></a>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="itemDelete?item.id" class="btn btn-outline-info btn-sm"
                                                    aria-current="page"><i class="fa-solid fa-circle-plus"></i></a>
                                            </td>
                                        </tr>
                                        @end

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/ Basic Bootstrap Table -->

                        <hr class="my-5" />

                    </div>
                    <!-- / Content -->
                    @include('partials/footer')
                    <!-- Footer -->

                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    @include('partials/scripts')

    <!-- ScriptItems -->
    <script src="/pages/item.js"></script>
</body>

</html>