<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="/"
  data-template="vertical-menu-template-free">

@include('partials/head')

<body>
  <!-- Layout wrapper -->
  <div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
      <!-- Menu -->
      @include('partials/aside')
      <!-- Layout container -->
      <div class="layout-page">
        <!-- Navbar -->
        @include('partials/header')
        <!-- Content wrapper -->
        <div class="content-wrapper">
          <!-- Content -->
          <div class="container mt-2">
            <div class="card">
              <div class="card-body">               
                @if(flashMessages.get('errors.identification'))
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <div>El usuario ya existe.</div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                @end
                <h5 class="card-title">NUEVO USUARIO</h5>
                <form action="/user/store" method="POST" class="row g-3">
                  <div class="col-md-6">
                    <img src="{{ flashMessages.get('itemImage', '/template/img/item/item.png') }}"
                      class="d-block rounded border" height="120" id="itemImage" data-lightbox="roadtrip"
                      onerror="imageError(event)" />
                  </div>

                  <div class="col-md-6">
                    <div class="row">
                      <label for="photo" class="form-label">URL Foto</label>
                      <div class="input-group">
                        <button class="btn btn-primary" type="button" onclick="clearUrlImage()" id="button-addon2"><i
                            class="fa-solid fa-ban"></i></button>
                        <input type="text" class="form-control" id="photo" name="photo" onchange="updateImage()"
                        @if(flashMessages.get('photo', '')!=null)
                        value="{{ flashMessages.get('photo', '') }}" 
                        @end 
                          />
                        <button class="btn btn-warning" type="button" onclick="openUrlImage()" id="button-addon2"><i
                            class="fa-solid fa-eye"></i></button>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label for="identification" class="form-label">Identificación</label>
                    @if(flashMessages.get('errors.identification'))
                    <input class="form-control" type="text" name="identification" id="identification"
                      value="{{ flashMessages.get('identification', '') }}" required style="border-color: crimson" autofocus />
                    @else
                    <input class="form-control" type="text" name="identification" id="identification"
                      value="{{ flashMessages.get('identification', '') }}" required />
                    @end

                  </div>

                  <div class="col-md-6">
                    <label for="tag" class="form-label">Tag</label>
                    <div class="input-group">
                      <input class="form-control" type="text" id="tag" name="tag"
                      @if(flashMessages.get('tag', '')!=null)
                        value="{{ flashMessages.get('tag', '') }}" 
                      @end                         
                        style="text-transform: uppercase" />
                      <button class="btn btn-primary" type="button" id="button-addon2" onclick="genId()">
                        <i class="fa-solid fa-tag"></i>
                      </button>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <label for="name" class="form-label">Nombres</label>
                    <input class="form-control" type="text" name="name" id="name"
                    @if(flashMessages.get('name', '')!=null)
                    value="{{ flashMessages.get('name', '') }}" 
                    @end 
                      required />
                  </div>

                  <div class="col-md-6">
                    <label for="lastname" class="form-label">Apellidos</label>
                    <input class="form-control" type="text" name="lastname" id="lastname"

                    @if(flashMessages.get('lastname', '')!=null)
                    value="{{ flashMessages.get('lastname', '') }}" 
                    @end
                      
                      required />
                  </div>

                  <div class="col-md-4">
                    <label for="email" class="form-label">Correo</label>
                    <input class="form-control" type="email" name="email" id="email"

                    @if(flashMessages.get('email', '')!=null)
                    value="{{ flashMessages.get('email', '') }}" 
                    @end
                       />
                  </div>

                  <div class="col-md-4">
                    <label for="phone" class="form-label">Teléfono</label>
                    <input class="form-control" type="text" name="phone" id="phone"

                    @if(flashMessages.get('phone', '')!=null)
                    value="{{ flashMessages.get('phone', '') }}" 
                    @end
                     />
                  </div>

                  <div class="col-md-4">
                    <label for="group" class="form-label">Grupo</label>
                    <div class="input-group">
                      <a class="btn btn-primary" href="/category/list" role="button"><i
                          class="fa-solid fa-list"></i></a>
                      <select id="group_id" name="group_id" class="form-select"
                        value="{{ flashMessages.get('group_id', '') }}" required>
                        <option value="0">NA</option>
                        @each(group in groups)
                        <option value="{{group.id}}">{{group.group}}</option>
                        @end
                      </select>
                    </div>
                  </div>

                  <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="javascript:history.back()" class="btn btn-secondary">Cancelar</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer -->
        @include('partials/footer')
      </div>
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
  </div>

  @include('partials/scripts')

  <!-- ScriptPage -->
  <script src="/pages/user.js"></script>
</body>

</html>