<header class="itemUpdateError">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>Actualmente hay <strong>{{totalItems}}</strong> préstamos del item <strong>{{reference}}</strong>,
          la cantidad no puede ser inferior a este valor.</p>
        <hr>
        <p class="mb-0">Por favor ingrese una cantidad igual o superior. </p>
      </div>
</header>