<header class="itemDeleteError">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p>La referencia no coincide.</p>
        <hr>
        <p class="mb-0">Por favor intente nuevamente.</p>
      </div>
</header>